button {
  position: relative;
  outline: none;
  margin: 8px;
  border: none;
  border-radius: 4px;
  padding: 16px;
  width: -webkit-fill-available;
  color: #fff;
  font-weight: bold;
  font-family: "system-ui";
  cursor: pointer;
  transition: box-shadow 225ms;
}

button:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  background: #0000;
  transition: background 225ms;
  box-shadow: 0 0 3px 0px #0002, 0 0 6px 0 #0003;
}

button:hover {
  box-shadow: 0 0 5px 1px #0003, 0 0 10px 0 #0005;
}

button:hover:before {
  background: #0003;
}

button span {
  position: relative;
}

#today-button {
  background: rgb(26, 21, 117);
  background: linear-gradient(
    31deg,
    rgba(26, 21, 117, 1) 0%,
    rgba(8, 210, 250, 1) 100%
  );
}

#yesterday-button {
  background: rgb(16, 102, 26);
  background: linear-gradient(
    31deg,
    rgba(16, 102, 26, 1) 0%,
    rgba(6, 200, 132, 1) 100%
  );
}

#this-week-button {
  background: rgb(191, 125, 34);
  background: linear-gradient(
    31deg,
    rgba(191, 125, 34, 1) 0%,
    rgba(255, 215, 0, 1) 100%
  );
}
